body{
 
  background-color:papayawhip;
  color: white;
 background-image: url(../black-chalkboard-with-complaints-3d-rendering-H6B4EG.jpg);
}
label{
  display: flex;
  background-color: black;
}